[Desktop Entry]
Name=Juniper Cloud Connection Manager
Comment=Juniper Cloud Connection Manager
GenericName=Juniper Cloud Connection Manager
Exec="/usr/lib/jccm/Juniper Cloud Connection Manager" --no-sandbox %U
Icon=jccm
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
